version: 2.1

executors:
  nodejs:
    docker:
      - image: votingworks/cimg-debian12:4.2.0
        auth:
          username: $VX_DOCKER_USERNAME
          password: $VX_DOCKER_PASSWORD

commands:
  checkout-and-install:
    description: Get the code and install dependencies.
    steps:
      - checkout
      - restore_cache:
          name: Restore pnpm Cache
          keys:
            - v1-pnpm-{{ checksum "pnpm-lock.yaml" }}
            - v1-pnpm-
      - run:
          name: Install Dependencies
          command: |
            corepack enable
            pnpm install --frozen-lockfile
      - save_cache:
          name: Save pnpm Cache
          key: v1-pnpm-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - ~/.local/share/pnpm/store

jobs:
  test-unit:
    executor: nodejs
    resource_class: large
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: pnpm build
      - run:
          name: Lint
          command: pnpm lint
      - run:
          name: Test
          command: pnpm test --run

  test-qa-e71c80e:
    executor: nodejs
    resource_class: xlarge
    steps:
      - checkout-and-install
      - run:
          name: Build
          command: pnpm build
      - run:
          name: Install Playwright Browsers
          command: |
            pnpm exec playwright install-deps
            pnpm exec playwright install chromium
      - run:
          name: Run QA Test - e71c80e
          command: |
            cd test-fixtures
            node ../dist/index.js run vx-qa-config-e71c80e.json
          no_output_timeout: 30m
      - store_artifacts:
          path: test-fixtures/output

workflows:
  test:
    jobs:
      - test-unit
      - test-qa-e71c80e
